h1, h2, h3, h4, p {
   font-family: 'Ubuntu', sans-serif;
}

a {
   font-family: inherit;
   color: inherit;
   text-decoration: inherit;
}

p {
   margin-left: auto;
   margin-right: auto;
}

.fa {
   color: black;
   margin: 10px;
}

.navBar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #FFFFFF;
}

.navBar li {
   float: left;
   display: inline;
}

.navBar li a {
   font-family: 'Ubuntu', sans-serif;
   text display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   transition: 0.2s
}

.navBar li a:hover {
   background-color: #E5E5E5;
}

.container {
   text-align: center;
   background-color: #E5E5E5;
}

.header {
   padding-bottom: 10px;
   color: white;
   text-align: center;
   background: #6D7993;
}

.header img {
   border-radius: 50%;
   transition: 1s;
}

.header img:hover {
   transform: rotate(720deg) scale(5, 2);
}

@@keyframes rotate {
   from {
      transition: rotate(0deg);
   }
   to {
      transition: rotate(360deg);
   }
}

.header .fa {
   color: white;
}

.header .fa:hover {
   transform: scale(1.3);
}

.about-me {
   padding-bottom: 10px;
   background-color: #E5E5E5;
}

.about-me h1 i {
   margin-right: 20px;
}

.about-me a {
   color: blue;
}

.about-me p {
   width: 900px;
}

.projects {
   padding-bottom: 10px;
   background-color: #9099A2;
}

.projects h1 i {
   margin-right: 20px;
}

.experience {
   padding-bottom: 10px;
   background-color: #E5E5E5;
}

.experience h1 i {
   margin-right: 20px;
}

.experience .card {
   padding: 20px;
   margin: 20px;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   width: 800px;
   height: 120px;
   transition: 0.2s;
   border-radius: 20px;
}

.experience .card:hover {
   transform: scale(1.03);
}

.experience .card img {
   width: 100px;
   height: 100px;
   margin-right: 20px;
   margin-top: 10px;
   margin-left: 10px;
   float: left;
}

.experience .card h2 {
   margin-bottom: 5px;
}

.skills {
   padding-bottom: 10px;
   background-color: #9099A2;
}

.skills .card {
   text-align: center;
   background: white;
   width: 700px;
   padding: 1px;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-right: auto;
   margin-left: auto;
   border-radius: 10px;
}

.skills h1 i {
   margin-right: 20px;
}

.education {
   background-color: #E5E5E5;
   padding-bottom: 10px;
}

.education h1 i {
   margin-right: 20px;
}

.education .card {
   text-align: center;
   background: white;
   width: 700px;
   padding: 5px;
   margin-top: 10px;
   margin-left: 10px;
   margin-right: auto;
   margin-left: auto;
   border-radius: 10px;
}

.aspiration {
   padding-bottom: 10px;
   background-color: #9099A2;
}

.aspiration h1 i {
   margin-right: 20px;
}

.aspiration p a {
   color: blue;
   text-decoration: underline;
}

.aspiration p {
   width: 900px;
}

.contact {
   margin-top: 10px;
   padding: 10px;
   background-color: #96858F;
}

.contact h1 i {
   margin-right: 20px;
}

.contact h2 a {
   color: blue;
   text-decoration: underline;
}
