h1, h2, h3, h4, p {
   font-family: 'Ubuntu', sans-serif;
}

a {
   font-family: inherit;
   color: inherit;
   text-decoration: inherit;
}

p {
   margin-left: auto;
   margin-right: auto;
}

.fa {
   color: black;
   margin: 10px;
}

.card {
   display: block;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   width: 800px;
}

.card img {
   float: left;
   width: 100px;
   height: 100px;
}

.navBar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #FFFFFF;
}

.navBar li {
   float: left;
   display: inline;
}

.navBar li a {
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

.navBar li a:hover {
   background-color: #E5E5E5;
}

.container {
   text-align: center;
   background-color: #E5E5E5;
}

.header {
   color: white;
   text-align: center;
   background: #6D7993;
}

.header img {
   border-radius: 50%;
}

.header .fa {
   color: white;
}

.header .fa:hover {
   transform: scale(1.2, 1.2);
}

.about-me {
   background-color: #E5E5E5;
}

.about-me a {
   color: blue;
}

.about-me p {
   width: 900px;
}

.projects {
   background-color: #9099A2;
}

.experience {
   background-color: #E5E5E5;
}

.skills {
   background-color: #9099A2;
}

.education {
   background-color: #E5E5E5;
}

.aspiration {
   background-color: #9099A2;
}

.contact {
   background-color: #96858F;
}
